In [31]:
import pandas as pd
import numpy as np
import json

In [29]:
df=pd.read_csv("Data/Only_Phone_Numbers.csv")
arr=df.to_numpy()
arr=np.delete(arr,-1)
arr=arr.reshape(5,6)
arr
df1=pd.DataFrame(arr,columns=['A1','A2','A3','A4','A5','A6'])
df1.to_csv("Data/Data-Frame.csv",index=True)
df2 = pd.DataFrame({'num_legs': [2, 4, 8, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [10, 2, 1, 8]},
                  index=['falcon', 'dog', 'spider', 'fish'])
print(df1)  
print(df2)

           A1          A2          A3          A4          A5          A6
0  8005599893  8955570628  9637895108  8199710072  7727811440  9992850943
1  9634609912  9079982210  9460355840  9953659776  9801105545  8949938010
2  9461475381  9468571212  9461115531  6375550001  6250034105  8949938810
3  9313943610  9520498961  9462305205  9636920303  8619138832  8824080887
4  8829022892  6375240130  9466859532  9442082848  9444155555  9228990010
        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
spider         8          0                  1
fish           0          0                  8

In [ ]:
print(df1.head(2))
print(df1.tail(2))
print(df1.info())
print(df1.loc[0:2])
print(df1.describe())
print(df2.shape)
print(df2.columns)
print(df2.dtype)
d=df2[['num_legs', 'num_wings']]
print(d)
print(df2[(df2["num_legs"]>0) & (df2["num_legs"]<8)])
print(df2[(df2["num_legs"]>0) |(df2["num_legs"]<8)])
print(df2[~(df2["num_legs"]>4)])

            0           1           2           3           4           5
0  8005599893  8955570628  9637895108  8199710072  7727811440  9992850943
1  9634609912  9079982210  9460355840  9953659776  9801105545  8949938010
            0           1           2           3           4           5
3  9313943610  9520498961  9462305205  9636920303  8619138832  8824080887
4  8829022892  6375240130  9466859532  9442082848  9444155555  9228990010
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      int64
 1   1       5 non-null      int64
 2   2       5 non-null      int64
 3   3       5 non-null      int64
 4   4       5 non-null      int64
 5   5       5 non-null      int64
dtypes: int64(6)
memory usage: 372.0 bytes
None
            0           1           2           3           4           5
0  8005599893  8955570628  9637895108  8199710072  7727811440  9992850943
1  9634609912  9079982210  9460355840  9953659776  9801105545  8949938010
2  9461475381  9468571212  9461115531  6375550001  6250034105  8949938810
                  0             1             2             3             4  \
count  5.000000e+00  5.000000e+00  5.000000e+00  5.000000e+00  5.000000e+00
mean   9.048930e+09  8.679973e+09  9.497706e+09  8.721585e+09  8.368449e+09
std    6.558094e+08  1.311118e+09  7.840855e+07  1.470646e+09  1.429212e+09
min    8.005600e+09  6.375240e+09  9.460356e+09  6.375550e+09  6.250034e+09
25%    8.829023e+09  8.955571e+09  9.461116e+09  8.199710e+09  7.727811e+09
50%    9.313944e+09  9.079982e+09  9.462305e+09  9.442083e+09  8.619139e+09
75%    9.461475e+09  9.468571e+09  9.466860e+09  9.636920e+09  9.444156e+09
max    9.634610e+09  9.520499e+09  9.637895e+09  9.953660e+09  9.801106e+09

                  5
count  5.000000e+00
mean   9.189160e+09
std    4.730862e+08
min    8.824081e+09
25%    8.949938e+09
50%    8.949939e+09
75%    9.228990e+09
max    9.992851e+09
(4, 3)
Index(['num_legs', 'num_wings', 'num_specimen_seen'], dtype='object')
        num_legs  num_wings
falcon         2          2
dog            4          0
spider         8          0
fish           0          0
        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
spider         8          0                  1
fish           0          0                  8
        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
fish           0          0                  8

In [4]:
product_df= pd.DataFrame({
    'product_id': [101, 102, 103, 104],
    'name': ['Widget A', 'Widget B', 'Gadget A', 'Gadget B'],
    'price': [19.99, 24.99, 49.99, 99.99],
    'in_stock': [True, False, True, True]
}).set_index('product_id')
print(product_df)
print(product_df.info())
print(product_df['price'].mean())
print(product_df[product_df['in_stock'] == True])
print(product_df[product_df.index==103][['name','price']])  
product_df.loc[105] = ['Widget C', 29.99, True]
print(product_df)

                name  price  in_stock
product_id
101         Widget A  19.99      True
102         Widget B  24.99     False
103         Gadget A  49.99      True
104         Gadget B  99.99      True
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 101 to 104
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      4 non-null      object
 1   price     4 non-null      float64
 2   in_stock  4 non-null      bool
dtypes: bool(1), float64(1), object(1)
memory usage: 100.0+ bytes
None
48.739999999999995
                name  price  in_stock
product_id
101         Widget A  19.99      True
103         Gadget A  49.99      True
104         Gadget B  99.99      True
                name  price
product_id
103         Gadget A  49.99
                name  price  in_stock
product_id
101         Widget A  19.99      True
102         Widget B  24.99     False
103         Gadget A  49.99      True
104         Gadget B  99.99      True
105         Widget C  29.99      True

In [27]:
# product_df.insert(3,"Profit",product_df['price']*0.1)
product_df.loc[102,'price']=20
print(product_df.iloc[0:2,1:2])
product_df['price']=product_df['price']*1.1
# product_df.drop(columns='in_stock',inplace=True)
print(product_df)

            price
product_id
101          22.0
102          20.0
                name       price  Profit
product_id
101         Widget A   24.200000   1.999
102         Widget B   22.000000   2.499
103         Gadget A   73.190359   4.999
104         Gadget B  146.395359   9.999
105         Widget C   43.908359   2.999

In [6]:
messy_data = pd.DataFrame({
    'product': ['A', 'B', 'C', 'D', 'E'],
    'price': [10.0, 15.5, None, 25.0, 30.5], # None represents missing data
    'rating': [4.5, None, 3.8, None, 5.0]
})
print(messy_data)
print(messy_data.isnull())
print(messy_data.isnull().sum())
print(messy_data.dropna(axis=0,inplace=False))
# messy_data['price'].fillna(messy_data['price'].mean(),inplace=True)
# messy_data['price']=messy_data['price'].interpolate(method='linear')
print(messy_data)

  product  price  rating
0       A   10.0     4.5
1       B   15.5     NaN
2       C    NaN     3.8
3       D   25.0     NaN
4       E   30.5     5.0
   product  price  rating
0    False  False   False
1    False  False    True
2    False   True   False
3    False  False    True
4    False  False   False
product    0
price      1
rating     2
dtype: int64
  product  price  rating
0       A   10.0     4.5
4       E   30.5     5.0
  product  price  rating
0       A   10.0     4.5
1       B   15.5     NaN
2       C    NaN     3.8
3       D   25.0     NaN
4       E   30.5     5.0

In [7]:
print(messy_data['price'].mean())
rated_messy_data=messy_data['rating'].fillna(messy_data['rating'].mean(),inplace=False)
filled_df=messy_data.dropna(axis=0,inplace=False)
print(rated_messy_data)
print(filled_df)

20.25
0    4.500000
1    4.433333
2    3.800000
3    4.433333
4    5.000000
Name: rating, dtype: float64
  product  price  rating
0       A   10.0     4.5
4       E   30.5     5.0

In [8]:
data = pd.DataFrame({
    'department': ['Sales', 'Sales', 'Eng', 'Eng', 'HR', 'Sales'],
    'employee': ['Alice', 'Bob', 'Carol', 'Dave', 'Eve', 'Frank'],
    'salary': [70000, 80000, 120000, 90000, 65000, 75000],
    'years': [2, 5, 4, 3, 1, 2]
})
print(data.groupby('department')['salary'].mean())
print(data.groupby('department')['employee'].count())
print(data[data['department']=='Eng'].groupby('department')['salary'].max())

department
Eng      105000.0
HR        65000.0
Sales     75000.0
Name: salary, dtype: float64
department
Eng      2
HR       1
Sales    3
Name: employee, dtype: int64
department
Eng    120000
Name: salary, dtype: int64

In [9]:
data.sort_values(by=["salary","employee","years"],ascending=[True,True,True],inplace=True)
print(data.groupby('department')['salary'].agg(['mean', 'std', 'min', 'max', 'count']))
print(data.groupby('department').agg({
    'salary': 'mean',     # Average salary per dept
    'years': 'sum',       # Total years of experience per dept
    'employee': 'count'   # Number of employees per dept (same as 'size')
}))
print(pd.merge(product_df,messy_data,on="price",how="outer"))
print(pd.concat([product_df,messy_data],axis=1,ignore_index=True))
data['salary'] = data['salary'].apply(lambda x: x + 10000)
print(data)

                mean           std    min     max  count
department
Eng         105000.0  21213.203436  90000  120000      2
HR           65000.0           NaN  65000   65000      1
Sales        75000.0   5000.000000  70000   80000      3
              salary  years  employee
department
Eng         105000.0      7         2
HR           65000.0      1         1
Sales        75000.0      9         3
       name    price  Profit product  rating
0       NaN   10.000     NaN       A     4.5
1       NaN   15.500     NaN       B     NaN
2  Widget A   21.989   1.999     NaN     NaN
3  Widget B   22.000   2.499     NaN     NaN
4       NaN   25.000     NaN       D     NaN
5       NaN   30.500     NaN       E     5.0
6  Widget C   32.989   2.999     NaN     NaN
7  Gadget A   54.989   4.999     NaN     NaN
8  Gadget B  109.989   9.999     NaN     NaN
9       NaN      NaN     NaN       C     3.8
            0        1      2    3     4    5
101  Widget A   21.989  1.999  NaN   NaN  NaN
102  Widget B   22.000  2.499  NaN   NaN  NaN
103  Gadget A   54.989  4.999  NaN   NaN  NaN
104  Gadget B  109.989  9.999  NaN   NaN  NaN
105  Widget C   32.989  2.999  NaN   NaN  NaN
0         NaN      NaN    NaN    A  10.0  4.5
1         NaN      NaN    NaN    B  15.5  NaN
2         NaN      NaN    NaN    C   NaN  3.8
3         NaN      NaN    NaN    D  25.0  NaN
4         NaN      NaN    NaN    E  30.5  5.0
  department employee  salary  years
4         HR      Eve   75000      1
0      Sales    Alice   80000      2
5      Sales    Frank   85000      2
1      Sales      Bob   90000      5
3        Eng     Dave  100000      3
2        Eng    Carol  130000      4

In [10]:
def salary_category(salary):
    if salary < 70000:
        return 'Low'
    elif salary < 100000:
        return 'Medium'
    else:
        return 'High'

# Apply it to the entire 'salary' column
data['salary_category'] = data['salary'].apply(salary_category)
data['gender'] = ['F', 'M', 'F', 'M', 'F', 'M']
print(data.groupby('salary_category')['years'].mean())
print(data.groupby(['gender','department'])['employee'].count())

salary_category
High      3.5
Medium    2.5
Name: years, dtype: float64
gender  department
F       Eng           1
        HR            1
        Sales         1
M       Eng           1
        Sales         2
Name: employee, dtype: int64

In [11]:
data['performance_ratio']=data['salary']/data['years']
data.replace(np.inf,0,inplace=True)
print(data['performance_ratio'])
print(data[data['performance_ratio'] == data['performance_ratio'].max()][['employee','performance_ratio']])

4    75000.000000
0    40000.000000
5    42500.000000
1    18000.000000
3    33333.333333
2    32500.000000
Name: performance_ratio, dtype: float64
  employee  performance_ratio
4      Eve            75000.0

In [23]:
Data=pd.read_csv("Data/annual-enterprise-survey-2024-financial-year-provisional (1).csv")
Data1=pd.read_csv("https://support.staffbase.com/hc/en-us/article_attachments/360009197031/username.csv")
Data2=pd.read_clipboard()
print(Data)
print(Data1)
print(Data2)

       Year Industry_aggregation_NZSIOC Industry_code_NZSIOC  \
0      2024                     Level 1                99999
1      2024                     Level 1                99999
2      2024                     Level 1                99999
3      2024                     Level 1                99999
4      2024                     Level 1                99999
...     ...                         ...                  ...
55615  2013                     Level 3                 ZZ11
55616  2013                     Level 3                 ZZ11
55617  2013                     Level 3                 ZZ11
55618  2013                     Level 3                 ZZ11
55619  2013                     Level 3                 ZZ11

             Industry_name_NZSIOC               Units Variable_code  \
0                  All industries  Dollars (millions)           H01
1                  All industries  Dollars (millions)           H04
2                  All industries  Dollars (millions)           H05
3                  All industries  Dollars (millions)           H07
4                  All industries  Dollars (millions)           H08
...                           ...                 ...           ...
55615  Food product manufacturing          Percentage           H37
55616  Food product manufacturing          Percentage           H38
55617  Food product manufacturing          Percentage           H39
55618  Food product manufacturing          Percentage           H40
55619  Food product manufacturing          Percentage           H41

                                         Variable_name      Variable_category  \
0                                         Total income  Financial performance
1      Sales, government funding, grants and subsidies  Financial performance
2                    Interest, dividends and donations  Financial performance
3                                 Non-operating income  Financial performance
4                                    Total expenditure  Financial performance
...                                                ...                    ...
55615                                      Quick ratio       Financial ratios
55616              Margin on sales of goods for resale       Financial ratios
55617                                 Return on equity       Financial ratios
55618                           Return on total assets       Financial ratios
55619                            Liabilities structure       Financial ratios

        Value                             Industry_code_ANZSIC06
0      979594  ANZSIC06 divisions A-S (excluding classes K633...
1      838626  ANZSIC06 divisions A-S (excluding classes K633...
2      112188  ANZSIC06 divisions A-S (excluding classes K633...
3       28781  ANZSIC06 divisions A-S (excluding classes K633...
4      856960  ANZSIC06 divisions A-S (excluding classes K633...
...       ...                                                ...
55615      52  ANZSIC06 groups C111, C112, C113, C114, C115, ...
55616      40  ANZSIC06 groups C111, C112, C113, C114, C115, ...
55617      12  ANZSIC06 groups C111, C112, C113, C114, C115, ...
55618       5  ANZSIC06 groups C111, C112, C113, C114, C115, ...
55619      46  ANZSIC06 groups C111, C112, C113, C114, C115, ...

[55620 rows x 10 columns]
  Username; Identifier;First name;Last name
0               booker12;9012;Rachel;Booker
1                    grey07;2070;Laura;Grey
2              johnson81;4081;Craig;Johnson
3               jenkins46;9346;Mary;Jenkins
4                  smith79;5079;Jamie;Smith
                                                                  {
'department': ['Sales', 'Sales', 'Eng',   'Eng',  'HR',   'Sales'],
'employee':   ['Alice', 'Bob',   'Carol', 'Dave', 'Eve',  'Frank'],
'salary':     [70000,   80000,   120000,  90000,  65000,    75000],
'years':      [2,       5,       4,       3,      1,             2]
}             NaN       NaN      NaN      NaN     NaN          None

In [22]:
csv=pd.read_csv("Data/annual-enterprise-survey-2024-financial-year-provisional (1).csv")
print(csv)
print("Info")
print(csv.info())
print("Desciption")
print(csv.describe())
print("Null")

csv.fillna('None',inplace=True)
print(csv.groupby('Industry_aggregation_NZSIOC')['Variable_code'].count())
print(csv.groupby('Industry_aggregation_NZSIOC')['Value'].max())
print(csv[csv['Variable_code']=='H01'])

       Year Industry_aggregation_NZSIOC Industry_code_NZSIOC  \
0      2024                     Level 1                99999
1      2024                     Level 1                99999
2      2024                     Level 1                99999
3      2024                     Level 1                99999
4      2024                     Level 1                99999
...     ...                         ...                  ...
55615  2013                     Level 3                 ZZ11
55616  2013                     Level 3                 ZZ11
55617  2013                     Level 3                 ZZ11
55618  2013                     Level 3                 ZZ11
55619  2013                     Level 3                 ZZ11

             Industry_name_NZSIOC               Units Variable_code  \
0                  All industries  Dollars (millions)           H01
1                  All industries  Dollars (millions)           H04
2                  All industries  Dollars (millions)           H05
3                  All industries  Dollars (millions)           H07
4                  All industries  Dollars (millions)           H08
...                           ...                 ...           ...
55615  Food product manufacturing          Percentage           H37
55616  Food product manufacturing          Percentage           H38
55617  Food product manufacturing          Percentage           H39
55618  Food product manufacturing          Percentage           H40
55619  Food product manufacturing          Percentage           H41

                                         Variable_name      Variable_category  \
0                                         Total income  Financial performance
1      Sales, government funding, grants and subsidies  Financial performance
2                    Interest, dividends and donations  Financial performance
3                                 Non-operating income  Financial performance
4                                    Total expenditure  Financial performance
...                                                ...                    ...
55615                                      Quick ratio       Financial ratios
55616              Margin on sales of goods for resale       Financial ratios
55617                                 Return on equity       Financial ratios
55618                           Return on total assets       Financial ratios
55619                            Liabilities structure       Financial ratios

        Value                             Industry_code_ANZSIC06
0      979594  ANZSIC06 divisions A-S (excluding classes K633...
1      838626  ANZSIC06 divisions A-S (excluding classes K633...
2      112188  ANZSIC06 divisions A-S (excluding classes K633...
3       28781  ANZSIC06 divisions A-S (excluding classes K633...
4      856960  ANZSIC06 divisions A-S (excluding classes K633...
...       ...                                                ...
55615      52  ANZSIC06 groups C111, C112, C113, C114, C115, ...
55616      40  ANZSIC06 groups C111, C112, C113, C114, C115, ...
55617      12  ANZSIC06 groups C111, C112, C113, C114, C115, ...
55618       5  ANZSIC06 groups C111, C112, C113, C114, C115, ...
55619      46  ANZSIC06 groups C111, C112, C113, C114, C115, ...

[55620 rows x 10 columns]
Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55620 entries, 0 to 55619
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         55620 non-null  int64
 1   Industry_aggregation_NZSIOC  55620 non-null  object
 2   Industry_code_NZSIOC         55620 non-null  object
 3   Industry_name_NZSIOC         55620 non-null  object
 4   Units                        55620 non-null  object
 5   Variable_code                55620 non-null  object
 6   Variable_name                55620 non-null  object
 7   Variable_category            55620 non-null  object
 8   Value                        55620 non-null  object
 9   Industry_code_ANZSIC06       55620 non-null  object
dtypes: int64(1), object(9)
memory usage: 4.2+ MB
None
Desciption
               Year
count  55620.000000
mean    2018.500000
std        3.452084
min     2013.000000
25%     2015.750000
50%     2018.500000
75%     2021.250000
max     2024.000000
Null
Industry_aggregation_NZSIOC
Level 1     6708
Level 3    18468
Level 4    30444
Name: Variable_code, dtype: int64
Industry_aggregation_NZSIOC
Level 1    S
Level 3    S
Level 4    S
Name: Value, dtype: object
       Year Industry_aggregation_NZSIOC Industry_code_NZSIOC  \
0      2024                     Level 1                99999
31     2024                     Level 1                   AA
62     2024                     Level 3                 AA11
92     2024                     Level 4                AA111
122    2024                     Level 3                 AA12
...     ...                         ...                  ...
55456  2013                     Level 3                 RS21
55488  2013                     Level 4                RS211
55520  2013                     Level 4                RS212
55552  2013                     Level 4                RS214
55584  2013                     Level 3                 ZZ11

                                    Industry_name_NZSIOC               Units  \
0                                         All industries  Dollars (millions)
31                     Agriculture, Forestry and Fishing  Dollars (millions)
62                        Horticulture and Fruit Growing  Dollars (millions)
92                        Horticulture and Fruit Growing  Dollars (millions)
122                 Sheep, Beef Cattle and Grain Farming  Dollars (millions)
...                                                  ...                 ...
55456                                     Other Services  Dollars (millions)
55488                             Repair and Maintenance  Dollars (millions)
55520  Personal Care, Funeral and Other Personal Serv...  Dollars (millions)
55552      Civil, Professional and Other Interest Groups  Dollars (millions)
55584                         Food product manufacturing  Dollars (millions)

      Variable_code Variable_name      Variable_category   Value  \
0               H01  Total income  Financial performance  979594
31              H01  Total income  Financial performance   54775
62              H01  Total income  Financial performance    6048
92              H01  Total income  Financial performance    6048
122             H01  Total income  Financial performance   12198
...             ...           ...                    ...     ...
55456           H01  Total income  Financial performance   8,358
55488           H01  Total income  Financial performance   4,323
55520           H01  Total income  Financial performance   1,644
55552           H01  Total income  Financial performance   2,390
55584           H01  Total income  Financial performance  36,411

                                  Industry_code_ANZSIC06
0      ANZSIC06 divisions A-S (excluding classes K633...
31                                   ANZSIC06 division A
62                  ANZSIC06 groups A011, A012, and A013
92                  ANZSIC06 groups A011, A012, and A013
122                        ANZSIC06 groups A014 and A015
...                                                  ...
55456  ANZSIC06 division S (excluding classes S9540, ...
55488               ANZSIC06 groups S941, S942, and S949
55520               ANZSIC06 groups S951, S952, and S953
55552                                ANZSIC06 group S955
55584  ANZSIC06 groups C111, C112, C113, C114, C115, ...

[1668 rows x 10 columns]

In [32]:
json_data='{"a":1,"b":2,"c":3}'
x=json.loads(json_data)
x['c']

3