In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Data/Only_Phone_Numbers.csv")
arr=df.to_numpy()
arr=np.delete(arr,-1)
arr=arr.reshape(5,6)
arr
df1=pd.DataFrame(arr)
df1.to_csv("Data/Data-Frame.csv",index=True)
df2 = pd.DataFrame({'num_legs': [2, 4, 8, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [10, 2, 1, 8]},
                  index=['falcon', 'dog', 'spider', 'fish'])
print(df2)

        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
spider         8          0                  1
fish           0          0                  8

In [11]:
print(df1.head(2))
print(df1.tail(2))
print(df1.info())
print(df1.loc[0:2])
print(df1.describe())
print(df2.shape)
print(df2.columns)
d=df2[['num_legs', 'num_wings']]
print(d)
print(df2[(df2["num_legs"]>0) & (df2["num_legs"]<8)])
print(df2[(df2["num_legs"]>0) |(df2["num_legs"]<8)])
print(df2[~(df2["num_legs"]>4)])

            0           1           2           3           4           5
0  8005599893  8955570628  9637895108  8199710072  7727811440  9992850943
1  9634609912  9079982210  9460355840  9953659776  9801105545  8949938010
            0           1           2           3           4           5
3  9313943610  9520498961  9462305205  9636920303  8619138832  8824080887
4  8829022892  6375240130  9466859532  9442082848  9444155555  9228990010
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      int64
 1   1       5 non-null      int64
 2   2       5 non-null      int64
 3   3       5 non-null      int64
 4   4       5 non-null      int64
 5   5       5 non-null      int64
dtypes: int64(6)
memory usage: 372.0 bytes
None
            0           1           2           3           4           5
0  8005599893  8955570628  9637895108  8199710072  7727811440  9992850943
1  9634609912  9079982210  9460355840  9953659776  9801105545  8949938010
2  9461475381  9468571212  9461115531  6375550001  6250034105  8949938810

                  0             1             2             3             4  \
count  5.000000e+00  5.000000e+00  5.000000e+00  5.000000e+00  5.000000e+00
mean   9.048930e+09  8.679973e+09  9.497706e+09  8.721585e+09  8.368449e+09
std    6.558094e+08  1.311118e+09  7.840855e+07  1.470646e+09  1.429212e+09
min    8.005600e+09  6.375240e+09  9.460356e+09  6.375550e+09  6.250034e+09
25%    8.829023e+09  8.955571e+09  9.461116e+09  8.199710e+09  7.727811e+09
50%    9.313944e+09  9.079982e+09  9.462305e+09  9.442083e+09  8.619139e+09
75%    9.461475e+09  9.468571e+09  9.466860e+09  9.636920e+09  9.444156e+09
max    9.634610e+09  9.520499e+09  9.637895e+09  9.953660e+09  9.801106e+09

                  5
count  5.000000e+00
mean   9.189160e+09
std    4.730862e+08
min    8.824081e+09
25%    8.949938e+09
50%    8.949939e+09
75%    9.228990e+09
max    9.992851e+09
(4, 3)
Index(['num_legs', 'num_wings', 'num_specimen_seen'], dtype='object')
        num_legs  num_wings
falcon         2          2
dog            4          0
spider         8          0
fish           0          0
        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
spider         8          0                  1
fish           0          0                  8
        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
fish           0          0                  8

In [10]:
product_df= pd.DataFrame({
    'product_id': [101, 102, 103, 104],
    'name': ['Widget A', 'Widget B', 'Gadget A', 'Gadget B'],
    'price': [19.99, 24.99, 49.99, 99.99],
    'in_stock': [True, False, True, True]
})
print(product_df)
print(product_df.info())
print(product_df['price'].mean())
print(product_df[product_df['in_stock'] == True])
print(product_df[product_df['product_id']==103][['name','price']])  
product_df.loc[4] = [105, 'Widget C', 29.99, True]
print(product_df)

   product_id      name  price  in_stock
0         101  Widget A  19.99      True
1         102  Widget B  24.99     False
2         103  Gadget A  49.99      True
3         104  Gadget B  99.99      True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  4 non-null      int64
 1   name        4 non-null      object
 2   price       4 non-null      float64
 3   in_stock    4 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 232.0+ bytes
None
48.739999999999995
   product_id      name  price  in_stock
0         101  Widget A  19.99      True
2         103  Gadget A  49.99      True
3         104  Gadget B  99.99      True
       name  price
2  Gadget A  49.99
   product_id      name  price  in_stock
0         101  Widget A  19.99      True
1         102  Widget B  24.99     False
2         103  Gadget A  49.99      True
3         104  Gadget B  99.99      True
4         105  Widget C  29.99      True